<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.css" type="text/css">
    <title>Document</title>
</head>
<body>
   <!-- adding a navbar here
   <div class="navbar hide" id="nav">
    <button type="button" name="button" id="navbar">X</button>
      <ul>
      <a href="/"><li id="home">Home</li></a><br>
      <a href="/abouts"><li id= "about">About</li></a><br>
      <a href="/login"><li id="login">Login</li></a><br>
      <a href="/register"><li id="signUp">Sign Up</li></a><br>
      </ul>
    </div> -->