<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abouts</title>
    <style>
        body{
            padding: 0;
            margin: 0;
            height: 100vh;
            width:100wv;
            background: linear-gradient(180deg, rgb(12, 10, 10) 0%,rgb(109, 18, 74), rgb(255, 169, 216) 100%);
            background-position: center;
            background-size: cover;
            overflow-x: hidden;
            display: flex;
            justify-content: center;
            text-align: center;
        }
        .container{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        #back{
            width: 30px;
            position: absolute;
            left:0;
            padding-top: .5rem;
            padding-left: 1rem;
        }
       #bubbles{
            width: 220px;
            position: absolute;
            right:0;
            top: 10%;
        }
        h1{
            color: white;
            margin-top: 2rem;
            height: 60px;
        }
        .content{
            width:40%;
            padding: 2rem;
            background-color: rgba(15, 15, 15, 0.336);
            color: azure;
            border-radius: 0.4rem;
            margin-top: 4rem;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="/"><span><img src="Group 2.png" id="back" alt=""></span></a>
        <header>
            <h1>ABOUT US</h1>
        </header>
        <img src="Group 1.png" id="bubbles" alt="">
        <div class="content">
            <div class="text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique culpa quasi ut facilis distinctio sed qui? 
                Ad, iusto obcaecati ab vitae assumenda dicta consectetur possimus eos non praesentium laboriosam vel.
                Suscipit nobis delectus temporibus in debitis enim totam molestias 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quas natus veniam molestias nesciunt necessitatibus modi eos voluptate asperiores cum? Dolorem, sequi enim doloremque placeat consequuntur laudantium odit ut, quo fugit, itaque maxime illum! Harum culpa quam, expedita nihil, fuga voluptate a dolorem delectus odit fugit nesciunt inventore dicta error eligendi consectetur corrupti sunt eos iure voluptatum laborum temporibus sint. Adipisci temporibus voluptates excepturi 
                quod odio, nemo, unde ab cumque, quibusdam facilis ratione. Ad dolores asperiores minima atque id deleniti.
                sunt facere consequuntur corrupti voluptates ut consectetur magnam incidunt deserunt accusamus, ex quo.
            </div>
        </div>
        <footer>
            <img src="" alt="">
        </footer>
    </div>
</body>
</html>