body{
    min-width: 517px;
}
::selection{
    color: whitesmoke;
    background-color: rgb(250, 16, 172);
}
.frame{
    margin : 12px;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin-right: 5%;
    height : auto;
    float: left;
}
.animate{
    border-width: 2px;
    border-color: white, rgb(192, 190, 190);
    border-radius: 2rem;
    box-shadow: 2px 2px 3px rgb(192, 190, 190) ;
    color:rgb(234, 229, 238);
    background: transparent;
    width: 90px;
    height: 50px;
    font-weight: bolder;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    cursor: pointer;
}
.animate:hover{
    background-color: #F9D2C5;
    color: black;
}
.elements, .buttons{
    margin-left: auto;
    margin-right: auto;
}
.sort{
    margin-top: 40px;;
    width: 30px;
    height: 150px;
     margin-left: 8px;
    background-color: #F3B3A6;
    position: relative;
    display: inline-block;
}
.e1{
    height: 150px;
}
.e2{
    height: 80px;
}
.e3{
    height: 200px;
}
.e4{
    height: 50px;
}
.e5{
    height: 150px;
}
.e9{
    height: 50px;
}
.e10{
    height: 140px;
}
.e6{
    height: 30px;
}
.e7{
    height: 100px;
}
.e8{
    height: 175px;
}
  
/* ----------------------------------------- */
body{
    text-align: center;
    /* border: 2px solid rgb(241, 241, 240); */
    width: 100vw;
    padding: 0;
    overflow-x: hidden;
    color: white;
    background-color: #161414;
}
h1{
    letter-spacing: 1rem;
    font-size: 2rem;
    font-weight: 100;
    text-decoration: underline;
    line-height: 2rem;
}
hr{
    border-color:#EEE9D0;
    width: 80%;
    margin: 2rem auto;
}
p{
    padding: 1rem;
}
.container{
    width: 90%;
    height: auto;
    /* padding-left: 8%;*/
    /* position: relative; */
    display: flex;
    padding-top: 5%; 
    /* left: 2.5%; */
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* background-color: pink; */
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
 .code{
    width: 40%;
    margin-right: 5%;
    height : auto;
    float: left;
    border: 1px solid #EEE9D0;
}
.defination > h2, .code > h2{
    border-bottom: 3px solid rgba(250, 134, 231, 0.644);
    letter-spacing: 1rem;
}
ul{
    list-style: none;
    text-align: left;
    line-height: 3ex;
}

.outline{
    background-color: rgba(250, 134, 231, 0.644);
    color: black;
}
.check{
    background-color: #FFE1EC;
    color: black;
}
.inner{
    background-color: #E9B6BF;
}
.psuedo , .content{
    text-align: left;
    width: 50%;
    border: 1px solid #EEE9D0;
    width: 40%;
    margin-right: 5%;
    height : auto;
}
.content > p{
    margin-top: auto;
    margin-bottom: auto;
} 
.content > h1{
    text-decoration:  none;
    padding-left: 1rem;
    border-bottom: 3px solid rgba(250, 134, 231, 0.644);
}
i{
    color: green;
}
/* -------------------------------------------------------------------------------------- */

.example, .status{
    border: 1px solid rgba(250, 134, 231, 0.644);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.example{
    margin-bottom: 2rem;
    text-align: left;
}
.heading{
    background-color:rgba(250, 134, 231, 0.644) ;
    color: white;
    font-size: 2em;
    padding: 1rem;
}
.status >div > p{
    font-style: italic;
    letter-spacing: .2rem;
    font-size: 1.5em;
}
h3{
    padding-left: 1rem;
}
.example >ul{
    display: flex;
    text-align: center;
}
.example > ul > li{
    width: 35px;
    height: 35px;
    background-color: rgb(248, 192, 229);
    margin-right: 1rem ;
    color: black;
}
.complexity{
    width: 85%;
}
.comment{
    width: 100%;
    text-align: left;
}
textarea{
    width: 100%;
    outline: none;
    background-color: blanchedalmond;
}
input {
    background-color: transparent;
    color: white;
    border:  1px solid rgb(248, 192, 229);
    padding: 0.5rem 1rem;
    cursor: pointer;
    outline: none;
}
input:hover{
    border: 1px solid palevioletred;
}

/* adding all the media queries */
@media screen and (max-width : 1164px){
.container, .code, .frame{
    display: block;
    width: 90%;
}
.psuedo, .content, .elements, .code{
    width: 100%;
    margin-bottom: 1rem;
}
.fact {
    display: none;
}
}
.fact{
    position: relative;
    width: 90%;
    margin: 0 auto;
    }
.fact > .content{
    position: absolute;
    left : 10%;
    top: 30%;
    padding: 1rem;
    border: 1px solid palevioletred;
}
.fact > h2{
    color:rgb(247, 243, 239);
    text-align: left;
    position: relative;
    letter-spacing: 0.2rem;
    left: 10%;
    text-decoration: underline;
}
/* svg animation */
#Layer_1{
    width: 50%;
    height: 90%;
    padding: 1rem;
  }
  .c1{
   animation: bubble 3s ease-out infinite;
  }
  .c2{
    animation: bubble 3s ease-out infinite 1s;
  }
  .pop{
    animation: pop 3s linear infinite;
  }
  @keyframes bubble{
    to{
      opacity: 0.2;
      transform: translateY(-500px);
    }
    from{
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes pop{
    to{
    opacity: 0;
    }
    from{
      opacity: 1;
    }
  }

  a{
      color: blanchedalmond;
  }